@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="about-us section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 col-12">
                <div class="content-left">
                    <img data-pagespeed-high-res-src="../Shopgrids/moreImages/hqdefault.jpg" alt="#" data-pagespeed-url-hash="1088165978" src="../Shopgrids/moreImages/hqdefault.jpg" onload="pagespeed.switchToHighResAndMaybeBeacon(this);" onerror="this.onerror=null;pagespeed.switchToHighResAndMaybeBeacon(this);">
                    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ;fbclid=IwAR21beSJORalzmzokxDRcGfkZA1AtRTE__l5N4r09HcGS5Y6vOluyouM9EM" class="glightbox video"><i class="lni lni-play"></i></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-12">

                <div class="content-right">
                    <h2>TDShops - Được làm bởi Nhóm 10</h2>
                    <p>
                        Làm ngày làm đêm. code vẫn lỗi
                    </p>
                    <p>
                        Nhưng tôi ngày 12/4 mong rằng sẽ xong
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="team section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2 class="wow fadeInUp" data-wow-delay=".4s">Các Thành Viên Trong Nhóm</h2>
                    <p class="wow fadeInUp" data-wow-delay=".6s">
                        Nhóm 10 gồm 5 thành viên
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-12">

                <div class="single-team">
                    <div class="image">
                        <img alt="#" data-pagespeed-url-hash="3315002624" src="../Shopgrids/moreImages/dungavt.jpg" onerror="this.onerror=null;pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);">
                    </div>
                    <div class="content">
                        <div class="info">
                            <h3>Phùng Tiến Dũng</h3>
                            <h5>Nhóm trưởng</h5>
                            <ul class="social">
                                <li>
                                    <a href="https://www.facebook.com/TiDPR2.5"><i class="lni lni-facebook-filled"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-3 col-md-6 col-12">

                <div class="single-team">
                    <div class="image">
                        <img alt="#" data-pagespeed-url-hash="3609502545" src="../Shopgrids/moreImages/trungavt.jpg" onerror="this.onerror=null;pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);">
                    </div>
                    <div class="content">
                        <div class="info">
                            <h3>Doãn Thành Trung</h3>
                            <h5>Dân Thường</h5>
                            <ul class="social">
                                <li>
                                    <a href="https://www.facebook.com/become.mid.0812"><i class="lni lni-facebook-filled"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-3 col-md-6 col-12">

                <div class="single-team">
                    <div class="image">
                        <img alt="#" data-pagespeed-url-hash="3904002466" src="../Shopgrids/moreImages/anhavt.jpg" onerror="this.onerror=null;pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);">
                    </div>
                    <div class="content">
                        <div class="info">
                            <h3>Vũ Hoàng Anh</h3>
                            <h5>Dân thường</h5>
                            <ul class="social">
                                <li>
                                    <a href="https://www.facebook.com/anhvu.lucifer.666"><i class="lni lni-facebook-filled"></i></a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-3 col-md-6 col-12">

                <div class="single-team">
                    <div class="image">
                        <img alt="#" data-pagespeed-url-hash="4198502387" src="../Shopgrids/moreImages/avatadoi.png" onerror="this.onerror=null;pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);">
                    </div>
                    <div class="content">
                        <div class="info">
                            <h3>Phạm Tiến Đức</h3>
                            <h5>Dân thường</h5>
                            <ul class="social">
                                <li>
                                    <a href="https://www.facebook.com/profile.php?id=100028222428244"><i class="lni lni-facebook-filled"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-3 col-md-6 col-12">

                <div class="single-team">
                    <div class="image">
                        <img alt="#" data-pagespeed-url-hash="3315002624" src="../Shopgrids/moreImages/avatadoi.png" onerror="this.onerror=null;pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);">
                    </div>
                    <div class="content">
                        <div class="info">
                            <h3>Đinh Quang Thắng</h3>
                            <h5>Dân thường</h5>
                            <ul class="social">
                                <li>
                                    <a href="https://www.facebook.com/thang.09032002"><i class="lni lni-facebook-filled"></i></a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-3 col-md-6 col-12">

                <div class="single-team">
                    <div class="image">
                        <img alt="#" data-pagespeed-url-hash="3315002624" src="../Shopgrids/moreImages/sangavt.jpg" onerror="this.onerror=null;pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);">
                    </div>
                    <div class="content">
                        <div class="info">
                            <h3>Hoàng Văn Sang</h3>
                            <h5>Dân thường</h5>
                            <ul class="social">
                                <li>
                                    <a href="https://www.facebook.com/profile.php?id=100019190950375"><i class="lni lni-facebook-filled"></i></a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>