
<section id="contact-us" class="contact-us section">
    <div class="container">
        <div class="contact-head">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h2>Liên hệ cho chúng tôi</h2>
                        
                    </div>
                </div>
            </div>
            <div class="contact-info">
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-12">
                        <div class="single-info-head">

                            <div class="single-info">
                                <i class="lni lni-map"></i>
                                <h3>Địa chỉ</h3>
                                <ul>
                                    <li>Trường đại học giao thông vận tải<br>Cầu Giấy, Hà Nội.</li>
                                </ul>
                            </div>


                            <div class="single-info">
                                <i class="lni lni-phone"></i>
                                <h3>Gọi cho shop</h3>
                                <ul>
                                    <li><a href="tel:+18005554400">0327050078</a></li>
                                    <li><a href="tel:+321556667890">Có 1 số thôi</a></li>
                                </ul>
                            </div>


                            <div class="single-info">
                                <i class="lni lni-envelope"></i>
                                <h3>Link Github</h3>
                                <ul>
                                    <li>
                                        <a href="https://github.com/tidvn/asp.net-ecommere">Đường dẫn link github</a>
                                    </li>
                                    
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-8 col-md-12 col-12">
                        <div class="contact-form-head">
                            <div class="form-main">
                                <form class="form" method="post" action="assets/mail/mail.php">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-12">
                                            <div class="form-group">
                                                <input name="name" type="text" placeholder="Họ và tên" required="required">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-12">
                                            <div class="form-group">
                                                <input name="subject" type="text" placeholder="Tên đăng nhập" required="required">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-12">
                                            <div class="form-group">
                                                <input name="email" type="email" placeholder="Email" required="required">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-12">
                                            <div class="form-group">
                                                <input name="phone" type="text" placeholder="Số điện thoại" required="required">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group message">
<textarea name="message" placeholder="Ý kiến, phản hồi"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group button">
                                                <button type="submit" class="btn ">Gửi</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>