@using Microsoft.AspNetCore.Identity
@using TDStore.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<header class="header navbar-area">
    <!-- Start Topbar -->
    <div class="topbar">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="top-left">
                       TDStore
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="top-middle">
                        
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="top-end">
                        <div class="user">
                        @{
                            if (User?.Identity?.IsAuthenticated ?? false)
                            {
                               <i class="lni lni-user"></i>
                                    @UserManager.GetUserAsync(User).Result?.UserName
                                   
                                    if (User.IsInRole("Staff"))
                                     {
                                   <a asp-area="Admin" asp-controller="Home" asp-action="Index">Admin</a>

                                     }
                                    <a asp-area="Store" asp-controller="Account" asp-action="Logout"> ,logout</a>
                                   
                            }else{
                                    <ul class="user-login">
                                        <li>
                                            <a asp-area="Store" asp-controller="Account" asp-action="Login">Login</a>
                                        </li>
                                        <li>
                                            <a asp-area="Store" asp-controller="Account" asp-action="Register">Register</a>
                                        </li>
                                    </ul>
                            }

                        }
                     </div>   
                        
                    </div>  
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Topbar -->
    <!-- Start Header Middle -->
    <div class="header-middle">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3 col-md-3 col-7">
                    <!-- Start Header Logo -->
                    <a class="navbar-brand" href="/">
                        <img src="~/Shopgrids/images/logo/logo.svg" alt="Logo">
                    </a>
                    <!-- End Header Logo -->
                </div>
                <div class="col-lg-5 col-md-7 d-xs-none">
                    <form method="get" asp-action="Index" asp-controller="Collections">
                    <!-- Start Main Menu Search -->
                    <div class="main-menu-search">
                        <!-- navbar search start -->
                        <div class="navbar-search search-style-5">
                            <div class="search-input">
                                <input type="text" name="Search" placeholder="Tìm kiếm">
                            </div>
                            <div class="search-btn">
                                <button type="submit"><i class="lni lni-search-alt"></i></button>
                            </div>
                           
                        </div>
                        <!-- navbar search Ends -->
                    </div>
                    <!-- End Main Menu Search -->
                     </form>
                </div>
                
                <div class="col-lg-4 col-md-2 col-5">
                    <div class="middle-right-area">
                        <div class="nav-hotline">
                            <i class="lni lni-phone"></i>
                            <h3>
                                SĐT:
                                <span>(+84) 0327050078 </span>
                            </h3>
                        </div>
                        <div class="navbar-cart">
                            
                            <div class="cart-items">
                                <a asp-controller="Cart" asp-action="Index" class="main-btn">
                                    <i class="lni lni-cart"></i>
                                    
                                </a>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header Middle -->
    <!-- Start Header Bottom -->
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8 col-md-6 col-12">
                <div class="nav-inner">
                    <!-- Start Mega Category Menu -->
                    <div class="mega-category-menu">
                        <span class="cat-button"><i class="lni lni-menu"></i>Danh Mục sản phẩm</span>
                        <ul class="sub-category">
                            <li>
                                <a asp-controller="Collections" asp-action="Index">Electronics <i class="lni lni-chevron-right"></i></a>
                                <ul class="inner-sub-category">
                                    <li><a asp-controller="Collections" asp-action="Index">Digital Cameras</a></li>
                                    <li><a asp-controller="Collections" asp-action="Index">Camcorders</a></li>
                                    <li><a asp-controller="Collections" asp-action="Index">Camera Drones</a></li>
                                    <li><a asp-controller="Collections" asp-action="Index">Smart Watches</a></li>
                                    <li><a asp-controller="Collections" asp-action="Index">Headphones</a></li>
                                    <li><a asp-controller="Collections" asp-action="Index">MP3 Players</a></li>
                                    <li><a asp-controller="Collections" asp-action="Index">Microphones</a></li>
                                    <li><a asp-controller="Collections" asp-action="Index">Chargers</a></li>
                                    <li><a asp-controller="Collections" asp-action="Index">Batteries</a></li>
                                    <li><a asp-controller="Collections" asp-action="Index">Cables & Adapters</a></li>
                                </ul>
                            </li>
                            <li><a asp-controller="Collections" asp-action="Index">accessories</a></li>
                            <li><a asp-controller="Collections" asp-action="Index">Televisions</a></li>
                            <li><a asp-controller="Collections" asp-action="Index">best selling</a></li>
                            <li><a asp-controller="Collections" asp-action="Index">top 100 offer</a></li>
                            <li><a asp-controller="Collections" asp-action="Index">sunglass</a></li>
                            <li><a asp-controller="Collections" asp-action="Index">watch</a></li>
                            <li><a asp-controller="Collections" asp-action="Index">man’s product</a></li>
                            <li><a asp-controller="Collections" asp-action="Index">Home Audio & Theater</a></li>
                            <li><a asp-controller="Collections" asp-action="Index">Computers & Tablets </a></li>
                            <li><a asp-controller="Collections" asp-action="Index">Video Games </a></li>
                            <li><a asp-controller="Collections" asp-action="Index">Home Appliances </a></li>
                        </ul>
                    </div>
                    <!-- End Mega Category Menu -->
                    <!-- Start Navbar -->
                    <nav class="navbar navbar-expand-lg">
                        <button class="navbar-toggler mobile-menu-btn" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                            <ul id="nav" class="navbar-nav ms-auto">
                                <li class="nav-item">
                                    <a href="index.html" class="active" aria-label="Toggle navigation">Trang chủ</a>

                                </li>
                                <li class="nav-item"><a asp-controller="Home" asp-action="Faq">Thắc mắc</a>
                                    </li>
                                <li class="nav-item"><a asp-controller="Collections" asp-action="Index">Sản phẩm</a></li>
                                                    
                                <li class="nav-item">
                                    <a asp-controller="Home" asp-action="BlogNews">Tin tức</a>
                                </li>                                                         
                                <li class="nav-item">
                                    <a asp-controller="Home" asp-action="ContactUs" aria-label="Toggle navigation">Liên hệ</a>
                                </li>
                            </ul>
                        </div> <!-- navbar collapse -->
                    </nav>
                    <!-- End Navbar -->
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <!-- Start Nav Social -->
                <div class="nav-social">
                    <h5 class="title">Theo dõi chúng tôi tại</h5>
                    <ul>
                        <li>
                            <a href="javascript:void(0)"><i class="lni lni-facebook-filled"></i></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><i class="lni lni-twitter-original"></i></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><i class="lni lni-instagram"></i></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><i class="lni lni-skype"></i></a>
                        </li>
                    </ul>
                </div>
                <!-- End Nav Social -->
            </div>
        </div>
    </div>
    <!-- End Header Bottom -->
</header>