<section class="tab-components">
      <div class="container">
        
        <!-- ========== form-layout-wrapper start ========== -->
        <div class="form-layout-wrapper mt-20">
          <div class="row">
            <div class="col-lg-12">
              <div class="card-style mb-30">
                <h6 class="mb-25">Default Information</h6>
                <form action="#">
                  <div class="row">
                    <div class="col-12">
                      <div class="input-style-1">
                        <label>Name of Product</label>
                        <input type="text" placeholder="John">
                      </div>
                    </div>
                    <!-- end col -->
                    <div class="col-12">
                      <div class="input-style-1">
                        <label>Details</label>
                        <textarea placeholder="Details" rows="5"></textarea>
                      </div>
                    </div>
                    <!-- end col -->
                    <div class="col-12">
                      <div class="input-style-1">
                        <label>Features</label>
                       <textarea placeholder="Features" rows="5"></textarea>
                      </div>
                    </div>
                    <!-- end col -->
                    <div class="col-12">
                      <div class="input-style-1">
                        <label>Specifications</label>
                       <div class="input-group">                      
                      <input type="text" class="form-control mx-3" >
                      <input type="text" class="form-control mx-3" >
                      <button class="btn btn-outline-secondary" type="button" id="button-remove"><i class="lni lni-trash-can"></i></button>
                      </div>
                    </div>
                    <!-- end col -->

                    <div class="col-12">
                      <div class="input-style-1">
                        <label>Inventory</label>
                       <div class="card-style mb-30">
                        <div class="row">
                            <div class="col-12">
                              <div class="input-style-1">
                                <label>Name</label>
                                <input type="text" placeholder="Name" class="bg-transparent">
                              </div>
                            </div>
                            <div class="col-12">
                              <div class="select-style-1">
                                <label>Color</label>
                                <div class="select-position">
                                <select class="light-bg"  name="color">
                                    <option value="Black">Black</option>
                                    <option value="White">White</option>
                                    <option value="Red">Red</option>
                                    <option value="Blue">Blue</option>
                                </select>
                                </div>
                              </div>
                            </div>

                          <div class="row">
                            <div class="col-12">
                              <div class="input-style-1">
                                <label>SKU</label>
                                <input type="text" placeholder="SKU" class="bg-transparent">
                              </div>
                            </div>
                            <!-- end col -->
                            <div class="col-12">
                              <div class="input-style-1">
                                <label>Quantily</label>
                                <input type="number" placeholder="Quantily" class="bg-transparent">
                              </div>
                            </div>
                            <!-- end col -->
                            <div class="col-12">
                              <div class="input-style-1">
                                <label>Price</label>
                                <input type="number" placeholder="Quantily" class="bg-transparent">
                              </div>
                            </div>
                            <!-- end col -->
                            <div class="col-12">
                              <div class="input-style-1">
                                <label>Discount Percent</label>
                                <input type="number" placeholder="Discount" class="bg-transparent">
                              </div>
                            </div>
                            <!-- end col -->
                            <div class="col-12">
                              <button class="main-btn primary-btn btn-hover">
                                Delete
                              </button>
                            </div>
                          </div>
                          <!-- end row -->

              </div>
                    </div>
                    <!-- end col -->

                    <div class="col-12">
                      <div class="button-group d-flex justify-content-center flex-wrap">
                        <button class="main-btn primary-btn btn-hover m-2">
                          Save Address
                        </button>
                        <button class="main-btn danger-btn-outline m-2">
                          Cancel
                        </button>
                      </div>
                    </div>
                  </div>
                  <!-- end row -->
                </form>
              </div>
              <!-- end card -->

            </div>
            <!-- end col -->

          </div>
          <!-- end row -->
        </div>
        <!-- ========== form-layout-wrapper end ========== -->
      </div>
      <!-- end container -->
    </section>