<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
      #specifications div {
        margin-bottom: 10px;
      }
    </style>


<div class="container mt-5">
      <form method="post">
        <div class="mb-3">
          <label class="form-label">Product Name</label>
          <input type="text" class="form-control" name="name" required>
        </div>
        <div class="mb-3">
          <label class="form-label">Product Details</label>
          <input type="number" class="form-control" name="price" required>
        </div>
        <div class="mb-3">
          <label class="form-label">Name</label>
          <input type="text" class="form-control" name="name" required>
        </div>
        <div class="mb-3">
          <label class="form-label">Price</label>
          <input type="number" class="form-control" name="price" required>
        </div>
        <div class="mb-3">
          <label class="form-label">Specifications</label>
          <div id="specifications">
            <div>
              <input type="text" class="form-control" name="key[]" placeholder="Key" required>
              <input type="text" class="form-control" name="value[]" placeholder="Value" required>
              <button type="button" class="btn btn-danger delete-btn"><i class="fas fa-trash-alt"></i></button>
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-primary" onclick="addKeyValue()">Add Key-Value Pair</button>
        <button type="submit" class="btn btn-success">Save</button>
      </form>
    </div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>

    <script>
        $(document).on("click", ".delete-btn", function() {
  $(this).parent().remove();
});

function addKeyValue() {
  var specificationsDiv = $("#specifications");

  var newDiv = $("<div></div>");

  var keyInput = $("<input></input>").attr("type", "text").attr("name", "key[]").attr("placeholder", "Key").addClass("form-control").prop("required", true);

  var valueInput = $("<input></input>").attr("type", "text").attr("name", "value[]").attr("placeholder", "Value").addClass("form-control").prop("required", true);

  var deleteBtn = $("<button></button>").attr("type", "button").addClass("btn btn-danger delete-btn").append($("<i></i>").addClass("fas fa-trash-alt"));

  newDiv.append(keyInput);
  newDiv.append(valueInput);
  newDiv.append(deleteBtn);

  specificationsDiv.append(newDiv);
}

</script>